html {
  box-sizing: border-box;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}
* {
  margin: 0;
}

#main-header {
  display: flex;
  background-color: green;
  width: 100%;
  height: 4vh;
  padding: 2rem;
  text-align: left;
}
#main-header > .container > .heading-text {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.main-form-body {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: flex-start;
  height: 96vh;
  width: 100%;
  background-color: azure;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 4rem;
  padding: 1rem;
  width: 26rem;
  background-color: beige;
}
#btn {
  width: 13rem;
  border-radius: 5px;
  height: 2.5rem;
  background-color: lightcyan;
  font-style: "Montserrat", sans-serif;
}

.sub-btn {
  align-items: center;
  justify-content: center;
}

.block {
  height: 2rem;
  border-radius: 5px;
}
.check-condition {
  justify-content: center;
  font-size: 1.25rem;
}
.check {
  align-self: center;
}
